body {
  background-color: #2FF3E0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #050a30;
  display: flex;
  justify-content: center;
}
.subtitulo {
  font-size: 25px;
  color: #050a30;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.form {
  color: #050a30;
  display: flex;
  justify-content: center;
}

.contenedor {
  background-color: #189ab4;
  border: 10px outset #75e6da;
  margin-bottom: 20px;
  padding: 50px;
}

.grupo-input {
  margin: 1rem;
}

#pantalla {
  
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 500px;
  width: 100%;
  background-color: #cfeed1;
}

#text{
    padding: 50px;
}




