body {
  background-color: #1d3557;
}

.aliniar-imagen img {
  margin: auto;
  display: block;
  width: 30rem;
  height: 20rem;
}

h1 {
  color: #fdd05a;
  display: flex;
  justify-content: center;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.texto-1,
.texto-2 {
  display: flex;
  justify-content: space-between ;
  color: #bdb2ff;
  width: 150px;
  padding: 35px;
  border: outset 1rem #f07167;
}

#fooder{
  display: block;
  justify-content: end;
  border: outset #189AB4 5px;
  background-color: #bdb2ff;
  color: #fdd05a;
  margin-top: 10px;
}
 
#f1, 
#f2{
  display: flex;
  justify-content: center;
}

 


