body {
  background-color: #1d3557;
}

.aliniar-imagen img {
  margin: auto;
  display: block;
  width: 30rem;
  height: 20rem;
}

h1 {
  color: #fdd05a;
  display: flex;
  justify-content: center;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  margin-left: 25;
  margin-right: 25;
}

.texto-1 {
  color: #bdb2ff;
  margin-left: 25rem;
  width: 150px;
  padding: 35px;
  border: outset 2rem #f07167;
}

.texto-2 {
  color: #8338ec;
  margin-right: 25rem;
  width: 150px;
  padding: 35px;
  border: outset 2rem #00b4d8;
}

.lgt {
  text-align: center;
  display: contents;
  color: #fdd05a;
  margin: 3rem;
  font-family: "Roboto Mono", monospace;
}

.hco {
  color: #fdd05a;
  margin: 3rem;
  font-family: "Roboto Mono", monospace;
}
